@CHARSET "UTF-8";
a{
	text-decoration:none;
}

.nav{
    width:100px;
	height:100px;
	}
 .container
        {
            position: absolute;
            top: 0%; left: 1%; right: 0; bottom: 0;
        }
        .action
        {
            width: 400px;
            height: 30px;
            margin: 10px 0;
        }
        .cropped>img
        {
            margin-right: 10px;
        }
.imageBox
{
    position: relative;
    padding-top:0%;
     padding-botton:3%;
      padding-left:0%;
       padding-right:0%;
    height: 338px;
    width: 400px;
    border: 1px solid #aaa;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: move;
}

.imageBox .thumbBox
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}

.imageBox .spinner
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}
.AddBookBody{
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 64px;
}
.addBook{
	          background: #fff;
    width: 683px;
    height: 400px;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    margin-right: 0px;
    margin-left: 422px;
    margin-top: 56px;
}
.bookNameSpan{
	position: absolute;
    top: 0%;
    left: 3%;
    right: 0;
    bottom: 0;
    color: #aaa;
    font-family: "微软雅黑";
    font-size: 20px;
}
.bookNameText{
	position: absolute;
    height: 20px;
    width: 270px;
    margin-left: 89px;
    margin-top: 0px;
    color: rgba(0, 0, 0, 0.98);
    font-size: 20px;
}
.authorSpan{
	position: absolute;
    top: 10%;
    left: 3%;
    right: 0;
    bottom: 0;
    color: #aaa;
    font-family: "微软雅黑";
    font-size: 20px;
}
.authorText{
	position: absolute;
    height: 20px;
    width: 270px;
    margin-left: 89px;
    margin-top: 44px;
    color: rgba(0, 0, 0, 0.98);
    font-size: 20px;
}
.bookISNSpan{
	      position: absolute;
    margin-left: 21px;
    margin-top: 80px;
    color: #aaa;
    font-family: "微软雅黑";
    font-size: 20px;
}
.bookISNText{
	position: absolute;
    height: 20px;
    width: 270px;
    margin-left: 89px;
    margin-top: 83px;
   color: rgba(0, 0, 0, 0.98);
    font-size: 20px;
}
.bookPriceSpan{
	    position: absolute;
    height: 20px;
    width: 270px;
    margin-left: 22px;
    margin-top: 120px;
    color: #aaa;
    font-family: "微软雅黑";
    font-size: 20px;
}
.bookPriceText{
	    position: absolute;
    margin-left: 89px;
    margin-top: 122px;
    height: 20px;
    width: 100px;
    color: rgba(0, 0, 0, 0.98);
    font-size: 20px;
}
.bookStoreSpan{
	position: absolute;
    margin-left: 23px;
    margin-top: 162px;
    height: 25px;
    width: 100px;
    color: #aaa;
    font-family: "微软雅黑";
    font-size: 20px;
}
.bookStoreText{
	position: absolute;
    height: 20px;
    width: 270px;
    margin-left: 89px;
    margin-top: 163px;
     color: rgba(0, 0, 0, 0.98);
    font-size: 20px;
}
.bookTypeSpan{
	position: absolute;
    margin-left: 25px;
    margin-top: 205px;
    color: #aaa;
    font-family: "微软雅黑";
    font-size: 20px;
}
.bookTypeBox{
	position: absolute;
    height: 30px;
    width: 273px;
    color: rgba(0, 0, 0, 0.98);
    font-size: 18px;
    font-weight: bold;
    margin-left: 90px;
    margin-top: 211px;
}
.bookDescriptSpan{
	    position: absolute;
    margin-left: 26px;
    margin-top: 261px;
    height: 25px;
    width: 100px;
    color: #aaa;
    font-family: "微软雅黑";
    font-size: 20px;
}
.bookDescriptText{
	    position: absolute;
    height: 75px;
    width: 270px;
    margin-left: 89px;
    margin-top: 260px;
    color: rgba(0, 0, 0, 0.98);
    font-size: 15px;
}
.submitButton{
	position: absolute;
    height: 40px;
    width: 112px;
    margin-left: 260px;
    margin-top: 360px;
    color: #000000;
    background-color: #dce2d9;
    font-family: "宋体";
    font-size: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
td{
	width: 151px;
    height: 40px;
    text-align:center;
}
th{
	
	width: 166px;
    height: 40px;
    text-align:center;
    font-size:20px;
    font-family:"微软雅黑";
}
.thfix{
	position:fixed;
	background-color:white;
}
.imageShow{
	
}
.messageShow{
	margin-left: 437px;
    margin-top: -244px;
}
.tdShow{
	width: 117px;
    height: 40px;
    text-align:center;
}